.TopicTitle {
    font-family: 'Lora', serif;
}

.img-top{
width:300px;
height:350px;

}


 .editContainer {
    float: right;
    font-size: 16px;
} 

 .editTopicIcon {
    margin-left: 10px;
    cursor: pointer;
}

.editTopicIcon:first-child {
    color: teal;
}

.editTopicIcon:last-child {
    color: rgb(223, 27, 27);
} 
 


.topicInfos {
    margin-bottom: 20px;
    justify-content: space-between;
    font-size: 16px;
    color: gold;

}

.description {
    color: #666;
    font-size: 18px;
    line-height: 20px;
    font-family: "Josefin";
}

