.login{   
    height:90vh;
    background: url("/public/photos/Erable.jpg");
    background-size: cover;
}

.label{
    color:white;
}

.loginButton{
    font-family: "Lora";
    background-color:lightcoral;
    color:white;   
}
