.register{
    height:110vh;
    background: url("/public/photos/Register3.jpg");
    background-size: cover;
}

.registerTitle{
    font-size: 40px;
    padding-top:30px;
   
}

.registerForm{
    margin-top: 8px;
    color:white;
}
.registerForm > label{
    margin:10px 0;
}

.registerInput{
    width: 40vw;
}

.registerButton{
    margin-top: 20px;
    padding:4px;
    background-color:teal;
    border-radius:5px;
    border:none;
    color:white;
   
}
.LoginBtn{
    font-family: "Lora";
    margin-top: 20px;
    padding:4px;
    background-color:lightcoral;
    border-radius:5px;
    color:white;

}
label{
    font-size: 15px;
  
}