
.headerTitles{
    font-family: "Lora",serif;
    color:#444;

}
.headerTitleSm{
    position: absolute;
    font-size: 20px;
}
.headerTitleLg{
    text-align:center;
    position: absolute;
    font-size: 80px;
}


.headerImage {
    object-fit:cover;
    text-align:center;
    margin-top: 112px;
  /*   height:250px;  */
}