
.Toastify__toast {
    border-radius:255px 25px 225px 25px/25px 225px 25px 255px;
    text-decoration: none;
    font-family: "Lora";
    color:white;  
}

.Toastify__toast--warning {
    filter: none;
    border: 1px solid #aa5e00;
}
.Toastify__toast--success {
   
    filter: none;
    border: 1px solid #30911a;
}
.Toastify__toast--info {
   
    filter: none;
    border: 1px solid #297ac2;
}

.Toastify__toast--error {
    background-image: linear-gradient(#d93f3d, #cd0200 50%, #bd0200);
    filter: none;
    color:white;
    border: 1px solid #a40200;
}

